# <font color='OrangeRed'><center>Extra - Funções</center></font>

### Exercício 01

Crie uma função que receba um número inteiro positivo como parâmetro e em seguida retorne o número inteiro invertido.

**Entrada:**  
_123456789_  

**Saída:**  
_987654321_  

**Dica:**  
_Uma das possíveis formas de se resolver é convertendo o número para string_

In [3]:
n1 = input('Digite um número: ')

def invertido(n1):
    inverso = n1[::-1]
    return inverso
print(f'o número digitado é {n1}, invertido ele é {invertido(n1)}')

o número digitado é 123456789, invertido ele é 987654321

---

### Exercício 02

Crie uma função que receba três números como parâmetro, sendo **dia**, **mês** e **ano** e em seguida retorne a data por extenso, por exemplo:

**Entrada:**  
_20/01/2010_

**Saída:**  
_20 de Janeiro de 2010_

In [9]:
dia = int (input('Digite o dia: '))
mes = int (input('Digite o mes: '))
ano = int(input('Digite o ano: '))

def anual(dia,mes,ano):
    if dia <= 31 and mes == 1:
        return f'{dia} de Janeiro de {ano}'
    elif dia <= 28 and mes == 2:
        return f'{dia} de Fevereiro de {ano}'
    elif dia <= 31 and mes == 3:
        return f'{dia} de Março de {ano}'
    elif dia <= 30 and mes == 4:
        return f'{dia} de Abril de {ano}'
    elif dia <= 31 and mes == 5:
        return f'{dia} de Maio de {ano}'
    elif dia <= 30 and mes == 6:
        return f'{dia} de Junho de {ano}'
    elif dia <= 31 and mes == 7:
        return f'{dia} de Julho de {ano}'
    elif dia <= 31 and mes == 8:
        return f'{dia} de Agosto de {ano}'
    elif dia <= 30 and mes == 9:
        return f'{dia} de Setembro de {ano}'
    elif dia <= 31 and mes == 10:
        return f'{dia} de Outubro de {ano}'
    elif dia <= 30 and mes == 11:
        return f'{dia} de Novembro de {ano}'
    elif dia <= 31 and mes == 12:
        return f'{dia} de Dezembro de {ano}'

print(anual(dia,mes,ano))

11 de Junho de 2005

---

### Exercício 03

Crie uma função que receba uma lista de números como parâmetro e dentro dela imprima todas as informações abaixo:

* Imprima o maior número da lista
* Imprima o menor número da lista
* Imprima a média dos números da lista

**A lista de números deve ser criada por você.**

In [4]:

n1 = int(input('Digite o primero numero:'))
n2 = int(input('Digite o segundo numero:'))
n3 = int(input('Digite terceiro numero: '))
lista = []
def num(n1,n2,n3):
    lista.append(n1)
    lista.append(n2)
    lista.append(n3)
    lista.sort()
    return lista

print(num(n1,n2,n3))
print(f'O maior da lista é {lista[-1]}')
print(f'O menor da lista é {lista[-3]}')
print(f'A media da lista é {sum(lista) / len(lista)}')

[10, 12, 15]
O maior da lista é 15
O menor da lista é 10
A media da lista é 12.333333333333334

---

### Exercício 04

Crie uma função que receba um ano como parâmetro e em seguida retorne se é ou não é um ano bissexto:

* O ano é bissexto quando:
    * ( Se for divisível por 4 **E** não pode ser divisível por 100 ) **OU** ( Se o for divisível por 400 )

In [7]:
ano = int(input('Digite o ano: '))
def anobi(ano):
    if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
        return f'{ano} é um ano bissexto'
    else:
        return f'{ano} não é um ano bissexto'
    
print(anobi(ano))

2016 é um ano bissexto

---

### Exercício 05

Crie uma função que receba um número inteiro como parâmetro e que retorne a quantidade de dígitos do número informado. Exemplo:

**Entrada:**  
_5678_

**Saída:**  
_4 Dígitos_

In [10]:
n1 = input('Digite um número')

def digitos(n1):
    digito = len(n1)
    return digito

print(f'O número {n1} tem {digitos(n1)} digitos')

O número 123456789 tem 9 digitos

---

### Exercício 06

Crie uma função que receba dois textos como parâmetro e em seguida retorne qual dos textos possui mais caracteres ou se eles possuem o mesmo tamanho.

In [14]:
txt1 = input('Digite um texto: ')
txt2 = input('Digite outro texto: ')

def texto(txt1,txt2):
    
    if len(txt1) > len(txt2):
        return f'O Texto 1 "{txt1}" possui mais caracteres que o texto 2 "{txt2}" '
    elif len(txt2) > len(txt1):
        return f'O Texto 2 "{txt2}" possui mais caracteres que o texto 1 "{txt1}" '
    else:
        return f'O texto 1 e o texto 2 tem a mesma quantidade de caracteres'


print(texto(txt1,txt2))

O texto 1 e o texto 2 tem a mesma quantidade de caracteres

---

### Exercício 07

Crie uma função que receba um número de celular e retorne se é um número válido ou não. Para um número ser considerado válido ele precisa atender os requisitos abaixo:

* O 1º dígito do número do celular deve iniciar com o dígito 9
* O número do celular informado deve conter 9 dígitos no total
* Os 9 dígitos precisam ser valores numéricos

In [20]:
numero = input('Digite seu número de celular: ')

def cll(numero):
    
    if numero.startswith('9') and len(numero) == 9:
        return f'`{numero} é valido!'
    else:
        return f'Esse número de telefone {numero} não existe'
    
print(cll(numero))

`963258147 é valido!

---

### Exercício 08

Crie uma função que receba o valor de um salário bruto como parâmetro e em seguida retorne o salário líquido, sendo:

* **Vale-Transporte**: Desconto 6% em cima do valor do salário bruto
* **INSS**: Desconto 8% em cima do valor do salário bruto
* **Adiantamento**: Desconto 30% em cima do valor do salário bruto

In [25]:
salario  = int(input('Digite o salario:'))

def bruto(salario):
    
    vt = salario * 0.06
    inss = salario * 0.08
    adiantamento = salario * 0.3
    liquido = salario - vt - inss - adiantamento 
    return liquido

print(bruto(salario))

2800.0

---

### Exercício 09

Crie uma função que receba o nome de um mês e retorne o nome do mês abreviado e com letras em caixa alta, por exemplo:

**Exemplos:**  
_Janeiro -> JAN_  
_fevereiro -> FEV_  
_maRço -> MAR_  
_AbriL -> ABR_

In [32]:
mes = input('Digite o mes desejado: ')

def meses(mes):
    meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
    imprimir = mes[:3].upper()
    return imprimir

print(meses(mes))

MAR

---

### Exercício 10

Crie uma lista contendo no mínimo 3 itens aleatórios, em seguida crie uma função que receba a lista criada como parâmetro e que retorne a quantidade total de caracteres de todos os itens da lista, exemplo:

**Entrada:**  
_['aaa', 'bbb', 'ccc']_

**Saída:**  
_9 caracteres_

In [40]:
aleatoria = ['Thomas', '123456', 'Calabreso']

def quantidade(aleatoria):
    quant1 = len(aleatoria[-1])
    quant2 = len(aleatoria[-2])
    quant3 = len(aleatoria[-3])
    
    quant = quant1 + quant2 + quant3
    
    return quant

print(f'Quantidade de caracteres dentro da lista é {quantidade(aleatoria)}')

Quantidade de caracteres dentro da lista é 21

---

### Exercício 11

_O etanol vale a pena quando custar até 70% do valor da gasolina._

Dado a afirmação acima, crie uma função que receba 2 dois parâmetros, o preço da gasolina e o preço do etanol, e que retorne qual combustível é mais vantajoso.

In [53]:
etanol = float(input('Valor do etanol: '))
gasolina = float(input('Valor da gasolina: '))

def valor(etanol,gasolina):
    if etanol <= 0.7 * gasolina:
        return f'O etanol vale mais a pena'
    else:
        return f'A gasolina vale mais a pena'
    
print(valor(etanol,gasolina))

A gasolina vale mais a pena

---

### Exercício 12

Faça um algoritmo para contalizar os gastos do usuário, para isso crie uma variável **total** com o valor igual a 0 e em seguida crie um laço while com a condição verdadeira, exemplo:

```python
while True:
```

Dentro do laço peça para o usuário digitar um **código** entre 0 a 5, em seguida crie a condição abaixo:

| Código | Doces | Preço |
|:------:|:-----:|:-----:|
| 0 | --- | Break - Sair do loop |
| 1 | Brigadeiro | 32.00 |
| 2 | Brigadeiro Branco | 33.00 |
| 3 | Beijinho | 35.00 |
| 4 | Casadinho | 34.00 |
| 5 | Napolitano | 36.00 |

Cada vez que o usuário digitar um código entre 1 a 5 adicione o valor do **preço** a variável **total**

Por fim, imprima o valor da variável **total**

In [1]:
total = 0

while True:
    codigo = int(input("Digite o código (entre 0 e 5, 0 para sair): "))

    if codigo == 0:
        print("Saindo do loop.")
        break
    elif codigo == 1:
        total += 32.00
        print(f"Brigadeiro adicionado. Total atual: R${total:.2f}")
    elif codigo == 2:
        total += 33.00
        print(f"Brigadeiro Branco adicionado. Total atual: R${total:.2f}")
    elif codigo == 3:
        total += 35.00
        print(f"Beijinho adicionado. Total atual: R${total:.2f}")
    elif codigo == 4:
        total += 34.00
        print(f"Casadinho adicionado. Total atual: R${total:.2f}")
    elif codigo == 5:
        total += 36.00
        print(f"Napolitano adicionado. Total atual: R${total:.2f}")
    else:
        print("Código inválido. Tente novamente.")

print(f"Total de gastos: R${total:.2f}")

Brigadeiro adicionado. Total atual: R$32.00
Casadinho adicionado. Total atual: R$66.00
Brigadeiro Branco adicionado. Total atual: R$99.00
Saindo do loop.
Total de gastos: R$99.00

---